@using MKS.Web.Common.ResourceManager
@inject IResourceManager resourceManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feature requests@(ViewBag.Title != null ? " - " + ViewBag.Title : "")</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapsed" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/">
                    <span class="navbar-brand">
                        <img src="~/icon.png" class="icon-banner">
                        Feature requests
                    </span>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Projects" asp-action="List">All projects</a></li>
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.Name <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a asp-action="Logout" asp-controller="Account">Wyloguj</a></li>
                                @*<li class="divider"></li>
                        <li><a asp-route="Login" asp-route-id="@ViewContext.HttpContext.Request.Query["id"]">Login With Different Account</a></li>*@
                            </ul>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/knockout/knockout.js"></script>
    <script src="~/lib/knockout/knockout.mapping.js"></script>
    <script src="~/lib/knockout/knockout.extensions.js"></script>
    <script src="~/lib/knockout/knockout.validation.js"></script>
    <script>
        ko.validation.init({
            errorElementClass: 'has-error',
            errorMessageClass: 'help-block',
            decorateInputElement: true
        });
    </script>
    @foreach (var script in resourceManager.GetAllFootScripts())
    {
        if (script.Content != null)
        {
            <script>@Html.Raw(script.Content)</script>
        }
        else
        {
            <script src="@script.Path"></script>
        }
    }
    @RenderSection("scripts", required: false)
</body>

</html>
