@using MKS.Web.FeatureRequests.Controllers.MVC
@model List<MKS.Web.FeatureRequests.Model.MVC.Project.Project>

@{ 
    ViewBag.Title = "List projects";
}

<div class="row">
    @if (!Model.Any())
    {
        <p>No projects found :(</p>
    }
    else
    {
        foreach (var item in Model.OrderByDescending(i => i.CreatedAt))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@item.Name</h3>
                </div>
                <div class="panel-body">
                    @item.Description
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        @if (User.IsInRole(MKS.Web.FeatureRequests.Model.Constants.RoleNames.Superadministrator))
                        {
                            <a class="btn btn-warning" href='@Url.Action(nameof(ProjectsController.Edit), new { id = item.Id })'>Edit</a>
                        }
                        <a class="btn btn-success" href='@Url.Action(nameof(ProjectsController.View), new { id = item.Id })'>Feature requests</a>
                    </div>
                </div>
            </div>
        }
    }
</div>
<div class="row">
    @if (User.IsInRole(MKS.Web.FeatureRequests.Model.Constants.RoleNames.Superadministrator))
    {
        <a class="btn btn-success" href="@Url.Action("Create", "Projects")">Create new project</a>
    }
</div>