@model MKS.Web.FeatureRequests.Model.Project.ProjectView

@{ 
    ViewBag.Title = "Project feature requests";
}

<div class="row">
    <div class="col-sm-12">
        <h3>Project "@Model.Name"</h3>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.Name</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.Description</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="featureRequests">
    <h3>All feature requests</h3>
    <div class="row" data-bind="if: featureRequests">
        <div data-bind="foreach: featureRequests"
             class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a role="button"
                           data-toggle="collapse" 
                           data-parent="#accordion"
                           data-bind="attr: {'href': '#request-collapse-' + $index() }" 
                           href="#">
                            <span data-bind="text: name"></span>
                            <span class="badge" data-bind="text: votes"></span>
                        </a>
                    </h4>
                </div>
                <div data-bind="attr: {'id': 'request-collapse-' + $index() }, event: { 'shown.bs.collapse': $parent.onRequestExpanded }" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                        <div class="row">
                            <p class="col-sm-12" data-bind="text: description"></p>
                        </div>
                        <h4>Comments:</h4>
                        @Html.Partial("Partials/_NewComment.cshtml")
                        @Html.Partial("Partials/_CommentsList.cshtml")
                    </div>
                </div>
            </div>
        </div>

        <div class="row" data-bind="ifnot: anyItems">
            <p>No requests yet! Be the first one to suggest a cool feature :)</p>
        </div>
    </div>

    @Html.Partial("Partials/_NewRequest.cshtml", Model)
</div>

@section scripts {
    <script>
        ko.validation.rules['nameUnique'] = {
            async: true,
            validator: function (val, parms, callback) {
                var defaults = {
                    url: '/api/featurerequests/isnameavailable',
                    type: 'POST',
                    data: JSON.stringify(val),
                    contentType: 'application/json',
                    success: function (data) {
                        callback(data);
                    }
                };

                var options = $.extend(defaults, parms);
                $.ajax(options);
            },
            message: 'Request with this name already exists.'
        };
        ko.validation.registerExtenders();

        var viewModel = ko.mapping.fromJSON('@Model.ToJson()');
        viewModel.refreshRequests = function () {
            $.getJSON(
                '/api/featurerequests/' + @Model.Id,
                function (data) {
                    viewModel.featureRequests(data);
                }
            );
        };

        viewModel.currentOpenRequestId = ko.observable(0);

        viewModel.onRequestExpanded = function(request) {
            viewModel.currentOpenRequestId(request.id());
            viewModel.newComment.requestId(request.id());
            viewModel.refreshComments(request.id());
        };

        viewModel.findRequestById = function(requestId) {
            return ko.utils.arrayFirst(viewModel.featureRequests(), function(request) {
                return request.id() == requestId;
            } || -1);
        };

        viewModel.refreshComments = function(requestId) {
            var request = viewModel.findRequestById(requestId);

            $.getJSON(
                '/api/comments/request/' + request.id(),
                function (data) {
                    request.comments(data);
                }
            );
        };

        viewModel.anyItems = ko.computed(function () {
            return this.featureRequests().length > 0;
        }, viewModel);

        $(document).ready(function () {
            //init partials before applying viewmodel
            initNewRequestPartial(viewModel);
            initNewCommentPartial(viewModel);
            initCommentsListPartial(viewModel);

            ko.applyBindings(viewModel, $("#featureRequests")[0]);
        })
    </script>
}

